<h2 id='title'>PubQuiz</h2>
{{iamhere}}

<button {{action 'vibrate'}}>Vibrate</button>
<button {{action 'doFBLogin'}}>FB Login</button>
<button {{action 'scanBarcode'}}>Scan Barcode</button>

{{outlet}}


